@import url('~shared/styles/mixins');
@import url('~shared/styles/variables');

.nav {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $maroon;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 100;

  @media screen and (min-width: 78em) {
    &::before,
    &::after {
      content: '';
      display: block;
      border: 1.5rem solid transparent;
      position: absolute;
      top: 0;
    }

    &::before {
      border-left-color: $navy;
      left: 0;
    }

    &::after {
      border-right-color: $navy;
      right: 0;
    }
  }

  .mobileExpand {
    + ul {
      display: none;

      &.mobileExpanded {
        display: flex;
      }
    }

    @mixin breakpoint {
      display: none;

      + ul {
        display: flex;
      }
    }
  }

  [class^='bi-'] + span {
    margin-left: 0.5em;
  }

  .collapse i + span {
    @mixin breakpoint {
      display: none;
    }
  }

  button {
    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  a,
  button,
  li.groupHeader {
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-shadow: 0 1px 1px rgb(0 0 0 / 60%);
    width: 100%;

    &:hover {
      background-color: rgb(255 255 255 / 10%);
    }
  }

  li.groupHeader {
    cursor: default;

    &,
    &:hover {
      background-color: rgb(0 0 0 / 15%);
    }
  }

  a:link,
  a:visited {
    color: #fff;
  }

  ul {
    background: $maroon;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      background-color: rgb(0 0 0 / 10%);

      @mixin breakpoint {
        background-color: $maroon;
      }
    }
  }

  @mixin breakpoint {
    li.gap {
      margin-left: auto;
    }
  }

  @mixin breakpoint {
    a,
    button {
      padding: 1rem;
    }

    > ul {
      .expandable {
        position: relative;

        ul {
          position: absolute;
        }
      }

      > .expandable {
        > ul {
          top: 100%;
          left: 0;

          .expandable ul {
            top: 0;
            left: 100%;
          }
        }
      }
    }
  }

  > ul {
    flex-flow: column nowrap;
    max-width: 75rem;
    margin: 0 auto;
    width: 100%;

    @mixin breakpoint {
      flex-flow: row nowrap;
    }

    @mixin breakpoint {
      a,
      button,
      li.groupHeader {
        white-space: nowrap;
      }
    }
  }

  .expand {
    :global(.bi-chevron-down) {
      font-size: 0.75em;
      opacity: 0.5;
      margin-left: auto;
      margin-right: 0;
      justify-self: flex-end;
      padding-left: 0.5rem;
    }

    &:hover :global(.bi-chevron-down) {
      opacity: 1;
    }
  }

  ul ul :global(.bi-chevron-down)::before {
    @mixin breakpoint {
      transform-origin: center;
      transform: rotate(-90deg);
    }
  }
}
