@import url('~shared/styles/mixins');
@import url('~shared/styles/variables');

.nav {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: $maroon
    linear-gradient(
      to right,
      rgba(255 255 255 / 0%),
      rgba(255 255 255 / 5%),
      rgba(255 255 255 / 0%)
    )
    center / 100% no-repeat;
  display: block;
  filter: drop-shadow(0 3px 6px rgb(0 0 0 / 60%));
  font-size: 0.875rem;
  font-weight: 700;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 100;

  hr {
    border: 0;
    border-top: 1px solid rgb(255 255 255 / 25%);
    margin: 0;
  }

  @media screen and (min-width: 78em) {
    background: $maroon
      linear-gradient(
        to right,
        rgba(255 255 255 / 0%),
        rgba(255 255 255 / 10%),
        rgba(255 255 255 / 0%)
      )
      center / 100% calc(100vw - 3rem) no-repeat;
    left: 1.5rem;
    right: 1.5rem;
    top: 0.5rem;
    width: calc(100% - 3rem);

    &::before,
    &::after {
      content: '';
      display: block;
      border: 1.5rem solid $maroon;
      position: absolute;
      top: 0.5rem;
    }

    &::before {
      border-left-color: transparent;
      left: -1.5rem;
    }

    &::after {
      border-right-color: transparent;
      right: -1.5rem;
    }
  }

  .mobileExpand {
    + ul {
      display: none;

      &.mobileExpanded {
        display: flex;
      }
    }

    @mixin breakpoint {
      display: none;

      + ul {
        display: flex;
      }
    }
  }

  [class^='bi-'] + span {
    margin-left: 0.5em;
  }

  .collapse i + span {
    @mixin breakpoint {
      display: none;
    }
  }

  button {
    appearance: none;
    border: 0;
    background: transparent;
    cursor: pointer;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
  }

  a,
  button,
  li.groupHeader {
    align-items: center;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-shadow: 0 1px 1px rgb(0 0 0 / 60%);
    width: 100%;

    &:hover {
      background-color: rgb(255 255 255 / 10%);
    }
  }

  li.groupHeader {
    cursor: default;

    &,
    &:hover {
      background-color: rgb(0 0 0 / 15%);
    }
  }

  a:link,
  a:visited {
    color: #fff;
  }

  ul {
    background: transparent;
    flex-flow: column nowrap;
    list-style: none;
    margin: 0;
    padding: 0;

    ul {
      background: $maroon
        linear-gradient(to bottom, rgb(0 0 0 / 10%), rgb(0 0 0 / 10%));

      @mixin breakpoint {
        background-color: $maroon;
      }
    }
  }

  @mixin breakpoint {
    li.gap {
      margin-left: auto;
    }

    a,
    button {
      padding: 1rem;
    }

    > ul {
      .expandable {
        position: relative;

        ul {
          position: absolute;
        }
      }
    }

    .expandable {
      ul {
        top: 100%;
        left: 0;
      }

      .expandable ul {
        top: 0;
        left: 100%;
      }
    }

    /* Show menu to left if dropdown is on right side of navbar;
     * assumes .gap exists. If no gap, no dropdowns will be shown
     * on left side. */
    .gap ~ .expandable ul .expandable ul {
      left: auto;
      right: 100%;
    }
  }

  > ul {
    flex-flow: column nowrap;
    max-width: $maxWidthRem;
    margin: 0 auto;
    width: 100%;

    @mixin breakpoint {
      flex-flow: row nowrap;
    }

    @mixin breakpoint {
      a,
      button,
      li.groupHeader {
        white-space: nowrap;
      }
    }
  }

  .expand {
    :global(.bi-chevron-down) {
      font-size: 0.75em;
      opacity: 0.5;
      margin-left: auto;
      margin-right: 0;
      justify-self: flex-end;
      padding-left: 0.5rem;
    }

    &:hover :global(.bi-chevron-down) {
      opacity: 1;
    }
  }

  ul ul :global(.bi-chevron-down)::before {
    @mixin breakpoint {
      transform-origin: center;
      transform: rotate(-90deg);
    }
  }
}
