%script{src: 'https://d2g9qbzl5h49rh.cloudfront.net/static/prototype.forms.js', type: 'text/javascript'}
%script{src: 'https://d2g9qbzl5h49rh.cloudfront.net/static/jotform.forms.js?3.2.4874', type: 'text/javascript'}
:javascript
  JotForm.init();

#scarf-vote-modal.reveal-modal{ data: { reveal: true } }
  .close-reveal-modal &#215;
  #scarf-vote{ style: 'max-height: 100%; overflow-y: auto;' }
    %form.jotform-form{'accept-charset' => 'utf-8', action: 'https://submit.jotform.us/submit/50105933491148/', method: 'post', name: 'form_50105933491148', id: '50105933491148' }
      %input{name: 'formID', type: 'hidden', value: '50105933491148'}
      .form-all
        %ul.form-section{ style: 'list-style: none; margin: 0;'}
          %li#id_1.form-line{ data: { type: 'control_checkbox' }}
            %label#label_1.form-label.form-label-left.form-label-auto{for: 'input_1'}
              %h2 Select 3 Designs
            #cid_1.form-input.jf-required
              %table.hoverable
                %tbody
                  %tr
                    %td
                      %input#input_1_0.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/01%20-%20Tl5lMxS.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_0'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/01%20-%20Tl5lMxS.png'}
                  %tr
                    %td
                      %input#input_1_1.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/04%20-%20IPAfuhn.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_1'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/04%20-%20IPAfuhn.jpg'}
                  %tr
                    %td
                      %input#input_1_2.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/08%20-%20grIDK4A.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_2'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/08%20-%20grIDK4A.jpg'}
                  %tr
                    %td
                      %input#input_1_3.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/15%20-%20OuW1Jxf.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_3'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/15%20-%20OuW1Jxf.png'}
                  %tr
                    %td
                      %input#input_1_4.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/09%20-%20qsmcsBs.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_4'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/09%20-%20qsmcsBs.png'}
                  %tr
                    %td
                      %input#input_1_5.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/11%20-%20VSzyMjM.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_5'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/11%20-%20VSzyMjM.jpg'}
                  %tr
                    %td
                      %input#input_1_6.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/03%20-%20oPFSZMh.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_6'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/03%20-%20oPFSZMh.png'}
                  %tr
                    %td
                      %input#input_1_7.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/14%20-%20CHGXBrF.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_7'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/14%20-%20CHGXBrF.jpg'}
                  %tr
                    %td
                      %input#input_1_8.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/17%20-%20pWW5cqv.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_8'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/17%20-%20pWW5cqv.jpg'}
                  %tr
                    %td
                      %input#input_1_9.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/20%20-%20HtrhsvJ.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_9'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/20%20-%20HtrhsvJ.png'}
                  %tr
                    %td
                      %input#input_1_10.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/05%20-%20tiPMaRf.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_10'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/05%20-%20tiPMaRf.png'}
                  %tr
                    %td
                      %input#input_1_11.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/16%20-%207I20TtY.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_11'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/16%20-%207I20TtY.jpg'}
                  %tr
                    %td
                      %input#input_1_12.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/13%20-%206xMWN6m.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_12'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/13%20-%206xMWN6m.jpg'}
                  %tr
                    %td
                      %input#input_1_13.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/18%20-%20mLMm26P.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_13'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/18%20-%20mLMm26P.png'}
                  %tr
                    %td
                      %input#input_1_14.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/02%20-%20V7LURPI.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_14'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/02%20-%20V7LURPI.png'}
                  %tr
                    %td
                      %input#input_1_15.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/06%20-%20zbx7Nuu.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_15'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/06%20-%20zbx7Nuu.png'}
                  %tr
                    %td
                      %input#input_1_16.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/07%20-%20xKGYjeD.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_16'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/07%20-%20xKGYjeD.jpg'}
                  %tr
                    %td
                      %input#input_1_17.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/10%20-%20EAmeSiZ.png\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_17'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/10%20-%20EAmeSiZ.png'}
                  %tr
                    %td
                      %input#input_1_18.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/12%20-%20k0xLdPn.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_18'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/12%20-%20k0xLdPn.jpg'}
                  %tr
                    %td
                      %input#input_1_19.form-checkbox{class: 'validate[maxSelection]', 'data-maxselection' => '3', name: 'q1_pickUp[]', type: 'checkbox', value: '<img src=\'http://www.midnightriders.com/files/2015scarves/19%20-%20zNH8V3T.jpg\' width=\'750\'>'}
                    %td
                      %label{for: 'input_1_19'}
                        %img{src: 'http://www.midnightriders.com/files/2015scarves/19%20-%20zNH8V3T.jpg'}
          %li#id_2.form-line{ data: { type: 'control_button' } }
            #cid_2.form-input-wide.right
              %button#input_2.form-submit-button{type: 'submit'}
                = icon 'check'
                Place your Vote
          %li{style: 'display:none'}
            Should be Empty:
            %input{name: 'website', type: 'text', value: ''}
      %input#simple_spc{name: 'simple_spc', type: 'hidden', value: '50105933491148'}

:javascript
  document.getElementById('si' + 'mple' + '_spc').value = '50105933491148-50105933491148';