%article
  %h4 Philadelphia Viewing Parties
  %p
    Riders will be at #{link_to 'the Banshee', 'https://www.facebook.com/events/1479824622239264/', target: '_blank'} and #{link_to 'Parlor Sports', 'https://www.facebook.com/events/487254491396552/?ref=25', target: '_blank'} in the Boston area, as well as #{link_to 'Boston Billiards Club', 'https://www.facebook.com/events/440445999422510/', target: '_blank'} in Nashua, NH, and the Grey Hound in Worcester, MA. Come out and support local soccer as we watch the Revs put Houston in the past with a hopefully resounding victory at PPL Park.
%article
  %h4 Revs Pub Tour
  %p Join us at Clery’s in Boston this Tuesday, March 18th, as the Revs continue their #{link_to 'Pub Tour', 'https://www.facebook.com/events/606366596114016/', target: '_blank' }. Revs in attendance will include Teal Bunbury, Patrick Mullins, Steve Neumann and A.J. Soares. In addition there will be some cool giveaways from the team.