%article
  %h4 Home Opener
  %p
    Soccer is back in New England! The Revolution will take on the Vancouver Whitecaps at Gillette Stadium, with kickoff at 2:00pm.
  %p
    Join the Riders in the tailgate lots – open at 11:00am – as we celebrate the start of the new season at home.
  %p
    %strong Please note:
    the Supporters’ Lots will be gated for the first match. Make sure you have your parking pass! If you haven't received your membership materials yet, reach out to the #{link_to 'Membership Chair', 'mailto:membership@midnightriders.com'} for a temporary pass.
%article
  %h4 Chili Cookoff
  %p
    Think you can bring the heat at the tailgate? Well now is your chance to prove it. The Midnight Riders are proud to announce their first annual Chili Cookoff during the tailgate before the April 12 match before Houston Dynamo! More details coming soon.