%h1 Contact

%ul.button-group
  %li
    = mail_to 'info@midnightriders.com', class: 'button' do
      = icon 'fa-regular', 'envelope fa-fw'
      General Inquiries
  %li
    = mail_to 'member-portal-support@midnightriders.com', class: 'button secondary' do
      = icon 'fa-regular', 'at fa-fw'
      Member Portal and Web Inquiries
