%h1 Contact

%ul.button-group
  %li
    = mail_to 'info@midnightriders.com', class: 'button' do
      = fa_icon 'envelope fw'
      General Inquiries
  %li
    = mail_to 'webczar@midnightriders.com', class: 'button secondary' do
      = fa_icon 'at fw'
      Member Portal and Web Inquiries
