%p Hello,
%p
  You’re receiving this email because #{@family.user.first_name} #{@family.user.last_name} has invited you to join
  his or her #{@family.year} Midnight Riders Family Membership.
%p
  If you’d like to accept the invitation, just #{link_to 'visit the Member Portal', root_url}, sign in, and click
  "Accept Family Invitation" from the home page.
%p The Midnight Riders
