%p Hello,
%p
  You’re receiving this email because #{@family.user.first_name} #{@family.user.last_name} has invited you to join
  his or her #{@family.year} Midnight Riders Family Membership. If you think this was in error, do nothing. We will not
  use this email to contact you again unless you choose to sign up.
%p
  If you’d like to accept the invitation, just #{link_to 'go here', new_user_registration_url(email: @user.email)} and
  create your Midnight Riders Member Portal account (make sure to use this email address), then click "Accept Family
  Invitation" from the home page once logged in.
%p The Midnight Riders
