{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "camelcase": [ 1, { "properties": "never" } ],
    "comma-dangle": [ 2, "never" ],
    "indent": [ 1, 2, { "VariableDeclarator": 2 , "SwitchCase": 1 } ],
    "new-cap": [
      2,
      {
        "capIsNewExceptions": [
          "Deferred"
        ]
      }
    ],
    "no-console": 2,
    "no-undef": 1,
    "no-unused-vars": [ 1, { "vars": "local", "args": "after-used" } ],
    "quotes": [ 1, "single", "avoid-escape" ],
    "quote-props": [ 2, "as-needed", { "keywords": true } ],
    "radix": 1,
    "semi": [ 1, "always" ],
    "strict": 1
  }
}
