- content_for :title do
  Edit User
  %small= link_to 'Return', (resource == current_user ? main_app.root_url : main_app.users_path)

= render partial: 'users/form', locals: { user: resource, devise: true }

-# if current_user == resource
  .row
    %hr
    .medium-6.medium-centered.columns
      = button_to 'Cancel my membership', main_app.user_registration_path, class: 'button alert tiny right', data: { confirm: 'Are you sure you want to cancel your Riders membership?' }, method: :delete
      %h3 Cancelation
      %p.hint
        %strong Note:
        there are no refunds for canceled memberships.
