- if can? :manage, discussion
  = link_to edit_discussion_path(discussion) do
    %i.fa.fa-pencil.fa-fw
    Edit
  = link_to discussion_path(discussion), method: :delete, confirm: 'Are you sure you wish to delete this Discussion?' do
    %i.fa.fa-trash.fa-fw
    Delete
