%p
  #{@user.first_name},
%p Congratulations! You now have access to the Midnight Riders Members-only site. Check it out at the link below.
%p There, you'll be able to manage your account information, submit your RevGuess and Man of the Match votes every week, and participate in the new Pick 'Em game with other Riders. You’ll also be able to securely renew your membership right from the portal.
%p
  To get started, click on the link below and log in with the username
  %strong{ style: 'font-family:monospace' }= @user.username
  \. Your temporary password is
  %strong{ style: 'font-family:monospace' }= @temp_pass
  \. Be sure to change this right away. You can change your username, too, if you'd like, by clicking the "My Account" button in the upper right once you're logged in.
%p
  = link_to 'Get started', new_user_session_url
  now.
- if @user.privilege? 'family'
  %p
    You are registered as having a
    %strong family
    membership. Currently, the primary accountholder is the only one with Member Portal access. In the near future, we will be adding sub-account functionality so that your whole family may (if you choose) log in and participate in games, etc. Stay tuned.
%p See you in the parking lots!
%p The Midnight Riders