@import url('normalize.css');

@import url('~shared/styles/variables');
@import url('@fortawesome/fontawesome-free/css/all');

@font-face {
  font-family: Mayflower;
  src: local('Mayflower'), url('./assets/Mayflower.woff2') format('woff2'),
    url('./assets/Mayflower.ttf') format('opentype');
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  background-color: $navy;
  font-family: 'Lato', Helvetica, sans-serif;
  height: auto;
  min-height: 100%;
  position: relative;

  @media screen and (min-width: 45em) {
    background-image: linear-gradient($silver, $silver 100%),
      linear-gradient($silver, $silver 100%);
    background-position: calc(50% - 38rem) 0, calc(50% + 38rem) 0;
    background-size: 1rem 100%, 1rem 100%;
    background-repeat: no-repeat;
  }
}

main {
  display: block;
  padding: 0.625rem 0.3125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mayflower';

  small {
    font-family: 'Lato', sans-serif;
  }
}

.pageContainer {
  display: block;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 75rem;
  box-sizing: border-box;
}
