@import url('~shared/styles/variables');
@import url('@fortawesome/fontawesome-free/css/all');

@font-face {
  font-family: Mayflower;
  src: local('Mayflower'), url('./assets/Mayflower.woff2') format('woff2'),
    url('./assets/Mayflower.ttf') format('opentype');
}

html {
  height: 100%;
}

html,
body {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  height: auto;
  min-height: 100%;
  position: relative;
  background: $maroon url('./assets/bg.png') repeat center;

  &.wait {
    &,
    * {
      cursor: wait !important;
    }
  }
}

main {
  display: block;
  padding: 0.625rem 0.3125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Mayflower';

  small {
    font-family: 'Lato', sans-serif;
  }
}
