@import url('~shared/styles/mixins');
@import url('~shared/styles/variables');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
@import url('normalize.css');

@font-face {
  font-family: Mayflower;
  src:
    local('Mayflower'),
    url('./assets/Mayflower.woff2') format('woff2'),
    url('./assets/Mayflower.ttf') format('opentype');
}

html,
body {
  margin: 0;
  min-height: 100%;
  border: 0;
  padding: 0;
}

body {
  background:
    linear-gradient(to bottom, rgba(255 255 255 / 2.5%), rgba(255 255 255 / 0%)) center top / 100% no-repeat fixed,
    $navy radial-gradient(ellipse at center, rgba(255 255 255 / 10%), rgba(255 255 255 / 0%)) center -50vw / 100vw 100vw
      no-repeat fixed;
  font-family: $sansFont;
  height: auto;
  position: relative;

  @mixin breakpoint {
    background:
      linear-gradient(to bottom, $silver, $silver) calc(50% - $maxWidthPx / 2 / 16 * 1rem - 1rem) 0 / 1rem 100%
        no-repeat fixed,
      linear-gradient(to bottom, $silver, $silver) calc(50% + $maxWidthPx / 2 / 16 * 1rem + 1rem) 0 / 1rem 100%
        no-repeat fixed,
      linear-gradient(to bottom, rgba(255 255 255 / 2.5%), rgba(255 255 255 / 0%)) center top / 100% no-repeat no-repeat,
      $navy radial-gradient(ellipse at center, rgba(255 255 255 / 10%), rgba(255 255 255 / 0%)) center -50vw / 100vw 100vw
        no-repeat fixed;
  }
}

main {
  display: block;
  padding: 0.625rem 0.3125rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $serifFont;
  margin-top: 0;
  font-weight: 400;

  small {
    font-family: $sansFont;
  }
}

.white {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #fff;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.pageContainer {
  display: block;
  padding: 1rem;
  margin: 0 auto;
  max-width: $maxWidthRem;
  box-sizing: border-box;

  > .loading {
    align-items: center;
    color: #fff;
    display: flex;
    font-size: 4rem;
    height: auto;
    justify-content: center;

    i::before {
      animation: loadingCircle 1s infinite linear forwards;
    }
  }
}

@keyframes loadingCircle {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
