!!!
%html
  %head
    %title 404 | Something Went Wrong
    %link{ rel: 'stylesheet', href: 'https://fonts.googleapis.com/css?family=Lato:300,700' }
    %meta{ charset: 'utf-8' }
    = favicon_link_tag 'icons/favicon.ico'
    %meta{ name: 'og:image', content: image_url('logo.png') }
    - if Rails.env.production?
      = Haml::Engine.new(File.read(Rails.root.join('app/views/layouts/_ga.haml'))).render(Object.new)
    - else
      :coffeescript
        unless window.ga then window.ga = () ->
    %meta{ content: 'initial-scale=1, maximum-scale=1', name: 'viewport'}
    %meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %style{ type: 'text/css' }
      = Rails.application.assets.find_asset('static').to_s
    = Haml::Engine.new(File.read(Rails.root.join('app/views/shared/_riders_logo.haml'))).render(Object.new)
  %body
    %h1 404
    .sub-container
      %h2
        Something went wrong…
        %br
        %small We couldn’t find the page you’re looking for.
    %p
      Even the best of us get turned upside down sometimes.
      If you’re certain there should be a page here,
      <a href="mailto:member-portal-support@midnightriders.com">send us an email</a>
      with the URL and any description you can. If you’re not so
      sure, try <a href="/">returning home</a>
      and navigating from there.

    .copyrights
      Copyright ©2016 Midnight Riders.
      %br
      Image copyright ©2016 <a href="http://CapturedImages.SmugMug.com" target="_blank">Kari Heistad, Captured Images</a>
