.row
  .medium-4.columns
    %h1 Add Relative
  .medium-8.columns
    %p
      Enter the email address of the person you’d like to add to your family membership. If the user has an existing
      Member&nbsp;Portal account, he or she will be asked to accept your invitation – if not, an email will be sent to
      the specified address with a link to join the Member&nbsp;Portal and accept your invitation.
      %em
        We will not use the email you submit for any mailing unless the user becomes a Midnight&nbsp;Rider.

= render 'form'
