- if current_user.address.blank?
  .alert-box
    %h3 Looks like we don’t have your address
    %p
      We need it to send you your membership materials every year.
      #{link_to 'Update now', edit_user_registration_path(current_user)}?
