- content_for :title do
  New User
  %small= link_to 'Return', users_path

= render 'users/form', user: @user
= render 'memberships/form', user: @user, membership: @user.memberships.build(year: Date.current.year, privileges: [])
