- content_for :title do
  Viewing User
  %small= link_to 'Return', users_path

= render partial: 'users/info', locals: { user: @user }

.row
  .medium-8.medium-centered.columns
    = render partial: 'users/rev_guesses', locals: { user: @user } if @user.rev_guesses


