%h2.text-center
  = match.kickoff.strftime('%B %-d %l:%M%P :')
  %span.primary{class: match.home_team.abbrv.downcase}= match.home_team.name
  vs
  %span.primary{class: match.away_team.abbrv.downcase}= match.away_team.name