%h2.text-center
  = l match.kickoff, format: :kickoff
  %span.primary{class: match.home_team.abbrv.downcase}= match.home_team.name
  = t('vs')
  %span.primary{class: match.away_team.abbrv.downcase}= match.away_team.name