.small-6.columns
  - if last_match.present? && can?(:vote, MotM, match_id: last_match.id)
    = last_match.decorate.mot_m_button('small secondary expand', true)
.small-6.columns
  - if next_match.present? && can?(:vote, RevGuess, match_id: next_match.id)
    = next_match.decorate.rev_guess_button('small secondary expand', true)
