@import url('~shared/styles/variables');
@import url('~shared/styles/mixins');

.pageHeader {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  flex-flow: row nowrap;
  margin: 0 auto;
  max-width: $maxWidthRem;
  padding: 0.5rem;
  width: 100%;

  h1 {
    align-items: center;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    margin: 0 0.5rem 0 0;

    small {
      font-size: 0.875rem;

      @mixin breakpoint {
        font-size: 1.25rem;
      }
    }

    img {
      /* easier than cropping some blank space off the bottom */
      margin-top: 1rem;
      margin-right: 0.5rem;
      max-width: 4rem;

      @mixin breakpoint {
        max-width: 6rem;
      }
    }
  }

  .nextMatch {
    color: #fff;
    flex: 1 1 auto;
    text-align: right;

    h5 {
      margin: 0 0 0.5rem;

      + h5 {
        margin: 0;
      }
    }

    h5,
    a:link,
    a:visited {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-size: 0.875rem;
      font-weight: 400;
      color: #fff;

      @mixin breakpoint {
        font-size: 1.25rem;
      }
    }

    a:link,
    a:visited {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      text-decoration: none;
      margin: 0;

      h5 {
        margin: 0;
      }

      img {
        filter: drop-shadow(0 3px 6px rgb(0 0 0 / 60%));
        margin-left: 1rem;
        max-width: 2rem;

        @mixin breakpoint {
          font-size: 1.25rem;
          max-width: 4rem;
        }
      }
    }
  }
}
