.pick-em.row.collapse.button-group.secondary-border.border-all{ class: match.home_team.abbrv.downcase }
  .small-4.columns.home
    = pick_em_link(match,:home)
  .small-4.columns.draw
    = pick_em_link(match, :draw)
  .small-4.columns.away
    = pick_em_link(match, :away)