form {
  input[type], select, textarea {
    + .hint {
      display: block;
      margin-bottom: $form-spacing;
      margin-top: -($form-spacing - rem-calc(4));
    }
  }
  h3 + .hint {
    display: block;
    margin-bottom: $header-bottom-margin;
    margin-top: -($header-bottom-margin - rem-calc(4));
  }
}
.file-input {
  .button,
  button,
  label {
    margin-bottom: 0;
  }

  %label-inline,
  label.inline {
    margin-left: .5em;
    overflow-x: hidden;
    padding-bottom: 0;
    white-space: nowrap;
  }
}

.split.button.expand {
  padding-left: $button-med; // overriding some dumb Foundation thing that hard-sets this to 2rem
}

.actions {
  text-align: right;
  a:link, a:visited {
    padding: {
      left: rem-calc(5);
      right: rem-calc(5);
    }
  }
}

.inline {
  @extend %label-inline;
}

@media #{$small-only} {
  %label-inline,
  label.inline {
    &:not(.inline-small) {
      margin: 0;
      padding: 0;
    }
  }
}

[id^='poll-'].reveal-modal {
  max-width: rem-calc(800);
  width: auto;

  label.row {
    align-items: center;
    display: flex;
    margin-bottom: 1rem;
    width: 100%;

    &:hover {
      background-color: transparentize($maroon, .5);
    }

    img {
      border: 1px solid transparent;
      display: block;
      height: auto;
      margin-top: 10px;
      max-width: 100%;
    }

    h4 {
      display: block;
      font-weight: bold;
      margin: 0;
      padding: 1em;
      position: relative;
      text-align: center;

      @media #{$medium-up} {
        padding: 1em 2em;
      }
    }
  }

  &.open {
    bottom: 20px;
    position: fixed;
    top: 20px;

    label:hover {
      img {
        background: #fff;
        border: 1px solid #fff;
        box-shadow: 0 0 3px #fff;
      }
    }

    @media #{$small-only} {
      bottom: 5px;
      left: 5px;
      right: 5px;
      top: 5px !important;
    }
  }
}
