- content_for :title, 'Players'

- if can? :create, Player
  .row.actions
    .column.text-right
      = link_to new_player_path, class: 'button' do
        = fa_icon 'male fw'
        New Player

.table
  .tr
    .thd
    .thd.numeric #
    .thd Name
    .thd.text-center Club
    .thd.text-center Position
    .thd

  - @players.active.sort.each do |player|
    = render 'row', player: player
  - unless @players.inactive.empty?
    .tr
      .td
      .td
      .td
        %h3 Inactive
      .td
      .td
      .td
    - @players.inactive.sort.each do |player|
      = render 'row', player: player
