- content_for :title, 'Players'

.row
  .column
    %table.card-item
      %thead
        %tr
          %th{ colspan: '100%' }
            %h3 Current Players
        %tr
          %th
          %th.numeric #
          %th Name
          %th.text-center Club
          %th.text-center Position
          %th.text-right
            - if can? :create, Player
              = link_to new_player_path, class: 'button small' do
                = icon 'male fa-fw'
                New Player
      %tbody
        - @players.active.sort.each do |player|
          = render 'row', player: player

    %table.card-item
      - unless @players.inactive.empty?
        %thead
          %tr
            %th{ colspan: '100%' }
              %h3 Former Players
          %tr
            %th
            %th.numeric #
            %th Name
            %th.text-center Club
            %th.text-center Position
            %th
        %tbody
          - @players.inactive.sort.each do |player|
            = render 'row', player: player
