- content_for :title, 'Players'

.row
  .column
    %table.card-item{ cellspacing: 0 }
      %thead
        %tr
          %th{ colspan: '100%' }
            %h3 Current Players
        %tr
          - if can? :manage, Player
            %th
          %th.numeric #
          %th Name
          - if can? :manage, Player
            %th.text-center Club
          %th.text-center Position
          - if can? :manage, Player
            %th.text-right
              = link_to new_player_path, class: 'button small' do
                = icon 'male fa-fw'
                New Player
      %tbody
        - @players.active.sort.each do |player|
          = render 'row', player: player

    - if can? :manage, Player
      %table.card-item{ cellspacing: 0 }
        - unless @players.inactive.empty?
          %thead
            %tr
              %th{ colspan: '100%' }
                %h3 Former Players
            %tr
              - if can? :manage, Player
                %th
              %th.numeric #
              %th Name
              - if can? :manage, Player
                %th.text-center Club
              %th.text-center Position
              - if can? :manage, Player
                %th
          %tbody
            - @players.inactive.sort.each do |player|
              = render 'row', player: player
