@import url('~shared/styles/mixins');
@import url('~shared/styles/variables');

.row {
  margin: 0 -0.5rem;

  .row {
    margin: -0.5rem;
  }

  &.center {
    align-items: center;
  }

  @mixin breakpoint {
    display: flex;
    flex-flow: row nowrap;

    .row {
      margin: -1rem -0.5rem;
    }
  }

  button,
  a:link,
  a:visited {
    border: 1px solid #fff;
  }

  .block & {
    button,
    a:link,
    a:visited {
      border: 0;
    }
  }
}

.column {
  margin: 0.5rem;

  &.center {
    margin: 0 auto;
  }

  @mixin breakpoint {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: calc(var(--offset) / 12 * 100% + 0.5rem);
    width: calc(var(--cols) / 12 * 100% - 1rem);
  }
}

.block {
  background-color: #fff;
  border-radius: 10px 10px 10px 0;
  box-shadow: 0 3px 6px rgba(0 0 0 / 60%);
  padding: 1rem;
}

.callout {
  background-image: linear-gradient(rgb(255 255 255 / 90%), rgb(255 255 255 / 90%));
  border: 1px solid;
  padding: 1rem;
  margin-bottom: 1rem;

  &.primary {
    background-color: $navy;
    border-color: #fff;
    color: $navy;
  }

  &.alert {
    background-color: $maroon;
    border-color: #fff;
    color: $maroon;
  }

  &.success {
    background-color: $green;
    border-color: #fff;
    color: $green;
  }

  &.warning {
    background-color: $orange;
    border-color: #fff;
    color: $orange;
  }
}
