---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Carlita+Bergstrom&email=sacha%40leuschke.com&metadata[first_name]=Carlita&metadata[last_name]=Bergstrom&metadata[address]=2437+Simonis+Manor%0AGloverville%2C+WI+29974&metadata[phone]=2682353521&card=tok_1MDZk9E6uJpa1TKpyrV3KZuX
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - e3edc3f0-136e-4818-9bdf-3cb1ab32f5bb
      Original-Request:
      - req_kgBvYLIFVSv7Ny
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_MxUjgOFzhzH50p",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1670704438,
          "currency": null,
          "default_source": "card_1MDZk9E6uJpa1TKps18xTQGV",
          "delinquent": false,
          "description": "Carlita Bergstrom",
          "discount": null,
          "email": "sacha@leuschke.com",
          "invoice_prefix": "DC9F08B7",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
            "address": "2437 Simonis Manor\nGloverville, WI 29974",
            "first_name": "Carlita",
            "last_name": "Bergstrom",
            "phone": "2682353521"
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 10 Dec 2022 20:33:58 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1061&customer=cus_MxUjgOFzhzH50p&receipt_email=sacha%40leuschke.com&description=Midnight+Riders+2023+Individual+Membership&metadata[year]=2023&metadata[type]=Individual&currency=usd&statement_descriptor=MRiders+2023+Ind+Mem&source=card_1MDZk9E6uJpa1TKps18xTQGV
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0b187af1-2089-409a-9bf8-e8502fdbc9db
      Original-Request:
      - req_hIGjFGa89uepWp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "ch_3MDZkBE6uJpa1TKp0mh0s1K1",
          "object": "charge",
          "amount": 1061,
          "amount_captured": 1061,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_3MDZkBE6uJpa1TKp0b18Foiu",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "WWW.MIDNIG* MRIDERS 20",
          "captured": true,
          "created": 1670704439,
          "currency": "usd",
          "customer": "cus_MxUjgOFzhzH50p",
          "description": "Midnight Riders 2023 Individual Membership",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_balance_transaction": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "type": "Individual",
            "year": "2023"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 41,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_1MDZk9E6uJpa1TKps18xTQGV",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 6,
              "exp_year": 2023,
              "fingerprint": "4ukrR8IaMKCCR4ik",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "mandate": null,
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": "sacha@leuschke.com",
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/payment/CAcaFwoVYWNjdF8xNUY4clNFNnVKcGExVEtwKLfa05wGMgb-jc8O6w46LBaDOCiQyfrf_fOH8uX7tbLHTUnHiHkCjQpu1rCLfOn1votoC_Yv8-jnryz7",
          "refunded": false,
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1MDZk9E6uJpa1TKps18xTQGV",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_MxUjgOFzhzH50p",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 6,
            "exp_year": 2023,
            "fingerprint": "4ukrR8IaMKCCR4ik",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": "MRiders 2023 Ind Mem",
          "statement_descriptor_suffix": "MRiders 2023 Ind Mem",
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Sat, 10 Dec 2022 20:33:59 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_3MDZkBE6uJpa1TKp0mh0s1K1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2022-11-15'
    body:
      e[...]
