---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1061&customer=cus_A1V5isolY2UXD8&receipt_email=ofelia.west%40pfannerstill.info&description=Midnight+Riders+2017+Individual+Membership&metadata[year]=2017&metadata[type]=Individual&currency=usd&statement_descriptor=MRiders+2017+Ind+Mem&source=card_19hS5gE6uJpa1TKpX5wpGEqt
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19hS5hE6uJpa1TKpgZVZuuoM",
          "object": "charge",
          "amount": 1061,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19hS5hE6uJpa1TKpnfzPxf7a",
          "captured": true,
          "card": {
            "id": "card_19hS5gE6uJpa1TKpX5wpGEqt",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_A1V5isolY2UXD8",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "4ukrR8IaMKCCR4ik",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "created": 1485732493,
          "currency": "usd",
          "customer": "cus_A1V5isolY2UXD8",
          "description": "Midnight Riders 2017 Individual Membership",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "year": "2017",
            "type": "Individual"
          },
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": "ofelia.west@pfannerstill.info",
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19hS5hE6uJpa1TKpgZVZuuoM/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19hS5gE6uJpa1TKpX5wpGEqt",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_A1V5isolY2UXD8",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "4ukrR8IaMKCCR4ik",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": "MRiders 2017 Ind Mem",
          "status": "paid"
        }
  recorded_at: Sun, 29 Jan 2017 23:28:14 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_19hS5hE6uJpa1TKpgZVZuuoM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
    [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Luanna+Terry&email=dawn.senger%40wuckertpacocha.biz&metadata[first_name]=Luanna&metadata[last_name]=Terry&metadata[address]=9371+Tonja+Center%0APort+Marcelinotown%2C+WY+14189-4247&metadata[phone]=40558204342323&card=tok_19hSu6E6uJpa1TKp11QfTuLb
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_A1VvMn9lRxBBF3",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_19hSu6E6uJpa1TKp8dDyvErO",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_A1VvMn9lRxBBF3",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "4ukrR8IaMKCCR4ik",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_A1VvMn9lRxBBF3/cards"
          },
          "created": 1485735618,
          "currency": null,
          "default_card": "card_19hSu6E6uJpa1TKp8dDyvErO",
          "default_source": "card_19hSu6E6uJpa1TKp8dDyvErO",
          "delinquent": false,
          "description": "Luanna Terry",
          "discount": null,
          "email": "dawn.senger@wuckertpacocha.biz",
          "livemode": false,
          "metadata": {
            "first_name": "Luanna",
            "last_name": "Terry",
            "address": "9371 Tonja Center\nPort Marcelinotown, WY 14189-4247",
            "phone": "40558204342323"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19hSu6E6uJpa1TKp8dDyvErO",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_A1VvMn9lRxBBF3",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2017,
                "fingerprint": "4ukrR8IaMKCCR4ik",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_A1VvMn9lRxBBF3/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_A1VvMn9lRxBBF3/subscriptions"
          }
        }
  recorded_at: Mon, 30 Jan 2017 00:20:19 GMT
recorded_with: VCR 3.0.3
