---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Dee+Leannon&email=mario.feil%40leuschke.ca&metadata[first_name]=Dee&metadata[last_name]=Leannon&metadata[address]=253+Kovacek+Fork%0AFeeneyburgh%2C+SD+71005-5903&metadata[phone]=19847625699&card=tok_1BmYWdE6uJpa1TKpMHLhCa0c
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_CAuLCLOd6BOkY9",
          "object": "customer",
          "account_balance": 0,
          "created": 1516501540,
          "currency": null,
          "default_source": "card_1BmYWdE6uJpa1TKpPvJClizq",
          "delinquent": false,
          "description": "Dee Leannon",
          "discount": null,
          "email": "mario.feil@leuschke.ca",
          "livemode": false,
          "metadata": {
            "first_name": "Dee",
            "last_name": "Leannon",
            "address": "253 Kovacek Fork\nFeeneyburgh, SD 71005-5903",
            "phone": "19847625699"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_1BmYWdE6uJpa1TKpPvJClizq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CAuLCLOd6BOkY9",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "4ukrR8IaMKCCR4ik",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CAuLCLOd6BOkY9/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_CAuLCLOd6BOkY9/subscriptions"
          },
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_1BmYWdE6uJpa1TKpPvJClizq",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_CAuLCLOd6BOkY9",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 7,
                "exp_year": 2018,
                "fingerprint": "4ukrR8IaMKCCR4ik",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_CAuLCLOd6BOkY9/cards"
          },
          "default_card": "card_1BmYWdE6uJpa1TKpPvJClizq"
        }
  recorded_at: Sun, 21 Jan 2018 02:25:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1061&customer=cus_CAuLCLOd6BOkY9&receipt_email=mario.feil%40leuschke.ca&description=Midnight+Riders+2018+Individual+Membership&metadata[year]=2018&metadata[type]=Individual&currency=usd&statement_descriptor=MRiders+2018+Ind+Mem&source=card_1BmYWdE6uJpa1TKpPvJClizq
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_1BmYWfE6uJpa1TKpF8nN0hH4",
          "object": "charge",
          "amount": 1061,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_1BmYWfE6uJpa1TKpdFm38lXX",
          "captured": true,
          "created": 1516501541,
          "currency": "usd",
          "customer": "cus_CAuLCLOd6BOkY9",
          "description": "Midnight Riders 2018 Individual Membership",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "year": "2018",
            "type": "Individual"
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": "mario.feil@leuschke.ca",
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_1BmYWfE6uJpa1TKpF8nN0hH4/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_1BmYWdE6uJpa1TKpPvJClizq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CAuLCLOd6BOkY9",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "4ukrR8IaMKCCR4ik",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": "MRiders 2018 Ind Mem",
          "status": "paid",
          "transfer_group": null,
          "card": {
            "id": "card_1BmYWdE6uJpa1TKpPvJClizq",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_CAuLCLOd6BOkY9",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "4ukrR8IaMKCCR4ik",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          }
        }
  recorded_at: Sun, 21 Jan 2018 02:25:42 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_1BmYWfE6uJpa1TKpF8nN0hH4
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
    [...]
