---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_19hS5hE6uJpa1TKpgZVZuuoM
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_19hS5hE6uJpa1TKpgZVZuuoM",
          "object": "charge",
          "amount": 1061,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "balance_transaction": "txn_19hS5hE6uJpa1TKpnfzPxf7a",
          "captured": true,
          "card": {
            "id": "card_19hS5gE6uJpa1TKpX5wpGEqt",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_A1V5isolY2UXD8",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "4ukrR8IaMKCCR4ik",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "created": 1485732493,
          "currency": "usd",
          "customer": "cus_A1V5isolY2UXD8",
          "description": "Midnight Riders 2017 Individual Membership",
          "destination": null,
          "dispute": null,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {},
          "invoice": null,
          "livemode": false,
          "metadata": {
            "year": "2017",
            "type": "Individual"
          },
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "receipt_email": "ofelia.west@pfannerstill.info",
          "receipt_number": null,
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_19hS5hE6uJpa1TKpgZVZuuoM/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_19hS5gE6uJpa1TKpX5wpGEqt",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_A1V5isolY2UXD8",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 7,
            "exp_year": 2017,
            "fingerprint": "4ukrR8IaMKCCR4ik",
            "funding": "credit",
            "last4": "4242",
            "metadata": {},
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_descriptor": "MRiders 2017 Ind Mem",
          "status": "paid"
        }
  recorded_at: Sun, 29 Jan 2017 23:28:15 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Stefani+Bosco&email=kermit%40welchwaters.info&metadata[first_name]=Stefani&metadata[last_name]=Bosco&metadata[address]=4047+Rolfson+Terrace%0ASouth+Mackshire%2C+NH+24993-8685&metadata[phone]=5584879820474&card=tok_19mFYvE6uJpa1TKpeapsd9yN
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_A6STdW4NKTfpwe",
          "object": "customer",
          "account_balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_19mFYvE6uJpa1TKpMdXJ34HT",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_A6STdW4NKTfpwe",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "4ukrR8IaMKCCR4ik",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_A6STdW4NKTfpwe/cards"
          },
          "created": 1486875974,
          "currency": null,
          "default_card": "card_19mFYvE6uJpa1TKpMdXJ34HT",
          "default_source": "card_19mFYvE6uJpa1TKpMdXJ34HT",
          "delinquent": false,
          "description": "Stefani Bosco",
          "discount": null,
          "email": "kermit@welchwaters.info",
          "livemode": false,
          "metadata": {
            "first_name": "Stefani",
            "last_name": "Bosco",
            "address": "4047 Rolfson Terrace\nSouth Mackshire, NH 24993-8685",
            "phone": "5584879820474"
          },
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_19mFYvE6uJpa1TKpMdXJ34HT",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_A6STdW4NKTfpwe",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 8,
                "exp_year": 2017,
                "fingerprint": "4ukrR8IaMKCCR4ik",
                "funding": "credit",
                "last4": "4242",
                "metadata": {},
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_A6STdW4NKTfpwe/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_A6STdW4NKTfpwe/subscriptions"
          }
        }
  recorded_at: Sun, 12 Feb 2017 05:06:14 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: amount=1061&customer=cus_A6STdW4NKTfpwe&receipt_email=kermit%40welchwaters.info&description=Midnight+Riders+2017+Individual+Membership&metadata[year]=2017&metadata[type]=Individual&currency=usd&statement_descriptor=MRiders+2017+Ind+Mem&source=card_19mFYvE6uJpa1TKpMdXJ34HT
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-w[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/charges/ch_19mFYxE6uJpa1TKpwASAf1iH
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
    [...]
