---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Willodean+Powlowski&email=chere.turner%40okuneva.com&metadata[first_name]=Willodean&metadata[last_name]=Powlowski&metadata[address]=495+Weber+Via%0AShonnatown%2C+OR+03626-0275&metadata[phone]=6134483500146&card=tok_1BmYWiE6uJpa1TKp9U46T8QU
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Sun, 21 Jan 2018 02:25:44 GMT
recorded_with: VCR 3.0.3
