---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Dodie+Boehm&email=marylouise%40goyette.biz&metadata[first_name]=Dodie&metadata[last_name]=Boehm&metadata[address]=30012+Salena+Mews%0ANorth+Rosaleeberg%2C+NC+62136&metadata[phone]=2549857547343&card=tok_1MDZk5E6uJpa1TKpPc0RCVhR
    headers:
      Authorization:
      - Bearer <STRIPE_SECRET_KEY>
      Content-Type:
      - application/x-www-form-urlencoded
      Stripe-Version:
      - '2022-11-15'
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 62ad8e4f-c507-42d2-a6de-09b6b3e400c1
      Original-Request:
      - req_H1LVtkr740kXaI
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2022-11-15'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "card_declined",
            "decline_code": "generic_decline",
            "doc_url": "https://stripe.com/docs/error-codes/card-declined",
            "message": "Your card was declined.",
            "param": "",
            "request_log_url": "https://dashboard.stripe.com/test/logs/req_H1LVtkr740kXaI?t=1670704434",
            "type": "card_error"
          }
        }
  recorded_at: Sat, 10 Dec 2022 20:33:54 GMT
recorded_with: VCR 6.1.0
