---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: description=Mercedes+Prosacco&email=rhoda%40lowe.biz&metadata[first_name]=Mercedes&metadata[last_name]=Prosacco&metadata[address]=09474+Gibson+Shores%0ABechtelarshire%2C+SC+41087&metadata[phone]=17297437558509&card=tok_19mFZDE6uJpa1TKp0CyuVCqN
    headers:
      Authorization:
      - Bearer STRIPE_SECRET_KEY
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-22'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined",
            "decline_code": "generic_decline"
          }
        }
  recorded_at: Sun, 12 Feb 2017 05:06:33 GMT
recorded_with: VCR 3.0.3
