@font-face {
  font-family: Mayflower;
  src: url('/assets/Mayflower.eot'); /* EOT file for IE */
  src: local('Mayflower'), url('/assets/Mayflower.ttf') format('opentype');
}

html {
  height: 100%;
}
html, body {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 4rem;
  background: $maroon image-url('bg.png') repeat center;
  &.wait {
    &, * {
      cursor: wait !important;
    }
  }
}

p.hint {
  font-size: .8em;
  font-style: italic;
}

.button {
  span {
    display: none;
  }
  &:hover span {
    display: inline;
  }
}

main {
  display: block;
  h1, h2, h3, h4, h5, h6 {
    small {
      font-family: 'Lato', sans-serif;
    }
  }
}

.gravatar {
  display: inline-block;
  @include radius($global-rounded);
  height: 1.1em;
  line-height: 0;
  margin-bottom: .2em;
}

.nowrap {
  white-space: nowrap;
}

.alert-box {
  background-color: saturate(mix(#fff,$revs-navy,95%),25%);
  border-color: saturate(mix(#fff,$revs-navy,75%),30%);
  color: $navy;
  :first-child, :first-child :first-child {
    margin-top: 0;
  }
  :last-child, :last-child :last-child {
    margin-bottom: 0;
  }
}