@font-face {
  font-family: Mayflower;
  src: url('//www.midnightriders.com/fonts/Mayflower.eot'); /* EOT file for IE */
  src: local('Mayflower'), url('//www.midnightriders.com/fonts/Mayflower.ttf') format('opentype');
}

html {
  height: 100%;
}
html, body {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  height: auto;
  min-height: 100%;
  position: relative;
  padding-bottom: 4rem;
  background: $maroon image-url('bg.png') repeat center;
  &.wait {
    &, * {
      cursor: wait !important;
    }
  }
}

p.hint {
  font-size: .8em;
  font-style: italic;
}

.button {
  span {
    display: none;
  }
  &:hover span {
    display: inline;
  }
}

main {
  display: block;
}