h2.club {
  padding: 5px;
  @media #{$medium-up} {
    padding: 10px;
    border-right-width: 140px;
  }
  @media #{$large-up} {
    padding: 10px;
    border-right-width: 220px;
  }
  small {
    opacity: .8;
  }
}
.club:not(.light) {
  border: 0 solid;
  border-left-width: 1px;
  border-right-width: 60px;
  @media #{$medium-up} {
    border-left-width: 2px;
    border-right-width: 140px;
  }
  @media #{$large-up} {
    border-right-width: 220px;
  }
}
.secondary-border, .primary-border {
  &.border-all {
    border: 1px solid;
  }
  &.border-left {
    border-left: 3px solid;
  }
  &.border-right {
    border-right: 3px solid;
  }
  &.border-top {
    border-top: 3px solid;
  }
  &.border-bottom {
    border-bottom: 3px solid;
  }
}