h2.club {
  @media #{$medium-up} {
    border-right-width: 140px;
  }
  @media #{$large-up} {
    border-right-width: 220px;
  }
  small {
    opacity: .8;
  }
}
h2.primary, h2.club {
  padding: 5px;
  @media #{$medium-up} {
    padding: 10px;
  }
}
.club:not(.light) {
  border: 0 solid;
  border-left-width: 1px;
  border-right-width: 60px;
  @media #{$medium-up} {
    border-left-width: 2px;
    border-right-width: 140px;
  }
  @media #{$large-up} {
    border-right-width: 220px;
  }
}
.secondary-border, .primary-border {
  &.border-all {
    border: 1px solid;
    &.thick {
      border-width: 5px;
    }
  }
  &.border-left {
    border-left: 3px solid;
    &.thick {
      border-left-width: 10px;
    }
  }
  &.border-right {
    border-right: 3px solid;
    &.thick {
      border-right-width: 10px;
    }
  }
  &.border-top {
    border-top: 3px solid;
    &.thick {
      border-top-width: 10px;
    }
  }
  &.border-bottom {
    border-bottom: 3px solid;
    &.thick {
      border-bottom-width: 10px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  &.primary-bg, &.secondary-bg {
    margin-top: 0;
    padding: {
      left: .3em;
      right: .3em;
    }
  }
}

.crest {
  display: block;
  width: 100%;
  height: 0;
  padding: 100% 0 0;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
img.crest-img {
  height: 1em;
  width: auto;
}