@use "foundation/components/alert-boxes";
@use "foundation/components/grid";
@use "foundation/components/type";

#error_explanation {
  max-width: grid.$row-width;
  margin-left: auto;
  margin-right: auto;
  @include alert-boxes.alert;
  h2 {
    font-size: type.$h3-font-size;
    color: alert-boxes.$alert-font-color;
  }
}