footer.page-footer {
  background: mix($navy, $maroon);
  color: #fff;
  border: 1px solid $silver;
  border-radius: $global-radius;
  margin: $column-gutter / 2;
  max-width: $row-width;
  padding: rem-calc(10);
  text-align: center;

  a:link, a:visited {
    color: #fff;
    text-decoration: underline;

    &:hover {
      color: #fff;
    }
  }

  @media screen and (min-width: $row-width + $column-gutter) {
    margin-left: auto;
    margin-right: auto;
    padding: rem-calc(15 20);
  }

  nav {
    a + a {
      &:before {
        content: '•\00A0';
        cursor: text;
        display: inline-block;
        text-decoration: none;
      }
      &:hover:before {
        color: mix(#fff, $maroon, 85%);
      }
    }
  }
}
