form {
  input[type], select, textarea {
    + .hint {
      display: block;
      margin-bottom: $form-spacing;
      margin-top: -($form-spacing - rem-calc(4));
    }
  }
  h3 + .hint {
    display: block;
    margin-bottom: $header-bottom-margin;
    margin-top: -($header-bottom-margin - rem-calc(4));
  }
}
.file-input {
  .button,
  button,
  label {
    margin-bottom: 0;
  }

  label.inline {
    margin-left: .5em;
    overflow-x: hidden;
    padding-bottom: 0;
    white-space: nowrap;
  }
}
.actions {
  text-align: right;
  a:link, a:visited {
    padding: {
      left: rem-calc(5);
      right: rem-calc(5);
    }
  }
}

.inline {
  @extend label.inline;
}

@media #{$small-only} {
  label.inline:not(.inline-small) {
    margin: 0;
    padding: 0;
  }
}

#scarf-vote-modal {
  ul,
  li {
    list-style: none;
    margin: inherit;
  }

  .scarf {
    [type=radio] {
      float: left;
      height: 0;
      overflow: hidden;
      opacity: 0;
      position: relative;
      width: 0;

      + label {
        margin: 0 0 .75em;
        padding: 1em;

        &:hover {
          background-color: transparentize($maroon, .5);
        }

        @media #{$medium-up} {
          padding: 1em 2em;
        }
      }

      &:checked + label {
        &,
        &:hover {
          background-color: $maroon;
        }
      }
    }
  }
}
