form {
  input[type], select, textarea {
    + .hint {
      display: block;
      margin-bottom: $form-spacing;
      margin-top: -($form-spacing - rem-calc(4));
    }
  }
  h3 + .hint {
    display: block;
    margin-bottom: $header-bottom-margin;
    margin-top: -($header-bottom-margin - rem-calc(4));
  }
}
.file-input {
  .button,
  button,
  label {
    margin-bottom: 0;
  }

  label.inline {
    margin-left: .5em;
    overflow-x: hidden;
    padding-bottom: 0;
    white-space: nowrap;
  }
}
.actions {
  text-align: right;
  a:link, a:visited {
    padding: {
      left: rem-calc(5);
      right: rem-calc(5);
    }
  }
}

.inline {
  @extend label.inline;
}

@media #{$small-only} {
  label.inline:not(.inline-small) {
    margin: 0;
    padding: 0;
  }
}