header.page-header {
  background: rgba(0,0,0,.25);
  padding-top: rem-calc(10);
  h1 {
    margin-bottom: 0;
    &:before {
      display: block;
      content: '\00A0';
      width: 12%;
      height: 0;
      padding: 12% 0 0;
      background: transparent image-url('logo.png') no-repeat center;
      background-size: contain;
      float: left;
      margin: 5px 10px 0 0;
    }
  }
  &, * {
    color: #fff;
    text-shadow: 0 2px 3px #000;
    small, .subheader {
      opacity: .8;
    }
  }
  .next-game {
    padding-bottom: 10px;

    .crest {
      @include text-hide;
      background-size: auto 2.5em;
      border: 1px solid;
      border-radius: 2em;
      height: 2.75em;
      line-height: 2.75em;
      margin-left: .7em;
      padding: 0;
      width: 2.75em;
    }

    h5, h3 {
      margin: 0;
      line-height: 1.2em;
    }
  }
  @media #{$small-only} {
    display: none;
  }
}