main {
  margin: rem-calc(10) 0;

  @media (screen and min-width: $column-gutter + $row-width) {
    margin: rem-calc(20) auto;
  }
}

.card {
  background: #fff;
  padding: $column-gutter / 2;
}

.card,
.card-item {
  box-shadow: 0 2px 6px #000;

  & + & {
    margin-top: $column-gutter / 2;
  }
}
