@use "foundation/components/grid";
@use "foundation/functions";
@use "shared";

ul.matches {
  list-style: none;
  display: block;
  &, li {
    margin-left: 0;
    padding-left: 0;
  }
  li {
    margin-bottom: functions.rem-calc(6);
    border: 1px solid grid.$silver;
    padding: functions.rem-calc(5);
    @include grid.radius;
    &.pending {
      border-color: shared.$navy;
      .score {
        color: grid.$silver;
      }
    }
    .button {
      margin-bottom: 0;
    }
    &.highlight {
      background-color: shared.$revs-red;
      &, a:link, a:visited, time, .score {
        color: #fff;
      }
      .pick-em-buttons {
        border: 1px solid #fff;
      }
    }
  }
  time, .score {
    font-size: functions.rem-calc(18);
    font-weight: 600;
    display: block;
    width: 50%;
    float: left;
  }
  time {
    text-align: left;
  }
  .score {
    text-align: right;
  }
  .pick-em-buttons {
    clear: both;
    @include grid.radius;
  }
  .pick-em-sub {
    font-size: functions.rem-calc(18);
    line-height: 2;
    .fa-fw {
      width: auto;
      &::before {
        background-color: shared.$maroon;
        color: #fff;
        display: inline-block;
        @include grid.radius;
        padding: functions.rem-calc(5 10);
      }
    }
    a:first-child .fa-fw {
      margin-right: .2em;
    }
  }
  .location {
    display: none;
  }
  @media #{grid.$medium-up} {
    &:not(.small) {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      li {
        width: 100%;
        @include grid.clearfix;
        > time, > .score, > .pick-em, > .button, > .location {
          display: block;
          float: left;
          vertical-align: middle;
        }
        time, .score {
          width: 30%;
          padding: functions.rem-calc(10);
          font-size: functions.rem-calc(24);
        }
        .score {
          text-align: center;
        }
        > .pick-em {
          width: 40%;
        }
        > .location {
          width: 60%;
          padding: functions.rem-calc(0 10);
          margin-top: functions.rem-calc(-35);
        }
        > .button {
          width: 40%;
          float: right;
        }
        &.highlight .location {
          margin-top: 0;
        }
      }
    }
  }
}
