.matches-navigate {
  background: $maroon;
  border-radius: 100%;
  color: #fff;
  display: block;
  font-size: 1.6em;
  line-height: 1.6em;
  text-align: center;
  transition: .3s background;
  width: 1.6em;

  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }

  &:hover {
    background: mix(#fff, $maroon, 15%);
  }

  &::before {
    @include fa-icon;
  }

  &.matches-navigate-current {
    margin: 0 auto;

    &::before {
      content: $fa-var-calendar-o;
    }
  }

  &.matches-navigate-prev{
    margin: 0 auto 0 0;

    &::before {
      content: $fa-var-arrow-left;
    }
  }

  &.matches-navigate-next{
    margin: 0 0 0 auto;

    &::before {
      content: $fa-var-arrow-right;
    }
  }
}

ul.matches,
li.match {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li.match {
  @include clearfix;
  background: #fff;
  border-radius: 100px;
  margin: $column-gutter / 2 auto;
  position: relative;

  time {
    font-size: .75em;
    font-weight: bold;
    left: 30%;
    line-height: 1.25em;
    margin-top: -.6125em;
    position: absolute;
    right: 30%;
    text-align: center;
    top: 20%;

    @media #{$medium-up} {
      font-size: .875em;
    }

    @media #{$large-up} {
      font-size: 1em;
    }
  }
}
