@use "foundation/components/button-groups";
@use "foundation/components/grid";

.pagination {
  span, a, em {
    @include button-groups.button(button-groups.$button-tny);
    &.disabled {
      display: none;
    }
    &.current {
      @include button-groups.button(button-groups.$button-tny,grid.$success-color);
      cursor: default;
      &:hover {
        background-color: grid.$success-color;
      }
    }
  }
}