.pagination {
  span, a, em {
    @include button($button-tny);
    &.disabled {
      display: none;
    }
    &.current {
      @include button($button-tny,$success-color);
      cursor: default;
      &:hover {
        background-color: $success-color;
      }
    }
  }
}