.pick-em-buttons {
  width: 100%;
  border-width: 2px;
  margin: rem-calc(5 0);
  @include radius;
  @include clearfix;
  > * {
    width: 33.33333%;
    float: left;
  }
  &.closed {
    background: #ddd;
    border: none;
    * {
      opacity: .8;
    }
  }
  .choice {
    display: block;
    width: 100%;
    font-size: 1em;
    line-height: 5em;
    height: 5em;
    min-width: 3.2em;
    padding: rem-calc(3 6);
    margin-bottom: 0;
    text-align: center;
    @include transition(all .5s);
    background-size: 100% 150%;
    background-position: center;
    position: relative;
    @include radius(0);
    @include background-image(linear-gradient(bottom,rgba(255,255,255,.35),rgba(255,255,255,0) 50%,rgba(0,0,0,0) 51%,rgba(0,0,0,.25)));
    &.secondary {
      background-color: $secondary-color;
      color: #fff;
    }
    &.picked {
      font-weight: 700 !important;
      color: #fff !important;
      font-size: 1.6em;
      line-height: 3.125em;
      height: 3.125em;
      min-width: 2em;
      @include text-shadow(0 2px 2px rgba(0,0,0,.6));
      @include box-shadow(0 0 .7em #fff inset);
      @include background(linear-gradient(top,$success-color,darken($success-color,5%)));
    }
    &.correct, &.wrong, &.actual {
      &:before {
        display: block;
        font-family: FontAwesome;
        text-align: center;
        position: absolute;
        font-size: 2em;
        z-index: 5;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
      }
    }
    &.correct:before {
      opacity: .5;
      content: $fa-var-check-circle;
    }
    &.wrong:before {
      content: $fa-var-times;
      color: $alert-color;
      margin-top: -1px;
      opacity: .7;
      @include text-shadow(none);
    }
    &.actual:before {
      color: #fff;
      opacity: .4;
      content: $fa-var-circle-o;
      text-shadow: none;
      font-size: 3.2em;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      height: 1.75em;
      @include translate(-50%,-50%);
      @include transition(height .25s);
    }
    @media #{$medium-up} {
      line-height: 4em;
      height: 4em;
      &.picked {
        line-height: 2.5em;
        img {
          height: 1.25em;
        }
      }
    }
  }
  .home .choice {
    @include side-radius(left,$global-radius - 1);
  }
  .away .choice {
    @include side-radius(right,$global-radius - 1);
  }
  a.choice {
    &:hover {
      background-size: 100% 100%;
      @include text-shadow(0 1px 2px rgba(0,0,0,.4));
    }
    &.secondary {
      &:hover {
        background-color: darken($secondary-color,15%);
      }
    }
    &.picked {
      &:hover {
        background-color: lighten($success-color,10%) !important;
      }
    }
  }
}
