@use "font-awesome";

.fa.fa-admin {
  &::before {
    content: font-awesome.$fa-var-bolt;
  }
}
.fa.fa-executive_board {
  &::before {
    content: font-awesome.$fa-var-briefcase;
  }
}
.fa.fa-at_large_board {
  &::before {
    content: font-awesome.$fa-var-sitemap;
  }
}
.fa.fa-family {
  &::before {
    content: font-awesome.$fa-var-users;
  }
}
.fa.fa-individual {
  &::before {
    content: font-awesome.$fa-var-user;
  }
}