@import 'compass';
@import 'font-awesome';

$maroon: #6a0003;
$navy: #02123f;
$silver: #adaeae;

$revs-red: #c8102e;
$revs-navy: #0c2340;

$retina: unquote("only screen and (-webkit-min-device-pixel-ratio: 1.3),
only screen and (min--moz-device-pixel-ratio:1.5),
only screen and (-o-device-pixel-ratio: 13/10),
only screen and (min-resolution: 120dpi)");

@mixin text-stroke($width,$color) {
  @include text-shadow(-$width 0 0 $color, $width 0 0 $color, 0 -$width 0 $color, 0 $width 0 $color);
}