@use "foundation/components/grid";
@use "foundation/components/tables";
@use "shared";

table,
.table {
  display: table;
  background: tables.$table-bg;
  margin-bottom: tables.$table-margin-bottom;
  border: tables.$table-border-style tables.$table-border-size tables.$table-border-color;
  list-style: none;
  margin-left: 0;
  max-width: 100%;
  width: 100%;
  td,
  .td,
  th,
  .thd {
    display: table-cell;
    vertical-align: middle;
    &.color {
      &.accent {
        width: 3px;
      }
    }
  }
  thead,
  .thead {
    display: table-header-group;
  }
  tbody,
  .tbody {
    display: table-row-group;
  }
  tfoot,
  .tfoot {
    display: table-footer-group;
  }
  thead,
  .thead,
  tfoot,
  .tfoot{
    background: tables.$table-head-bg;
    tr,
    .tr {
      td,
      .td,
      th,
      .thd {
        padding: tables.$table-head-padding;
        font-size: tables.$table-head-font-size;
        font-weight: tables.$table-head-font-weight;
        color: tables.$table-head-font-color;
        text-align: grid.$default-float;
        &.numeric {
          text-align: right; }
      }
    }
  }
  tr,
  .tr {
    display: table-row;
    &.highlight, &.highlight:nth-of-type(1n) {
      background-color: shared.$revs-navy;
      td,
      .td,
      th,
      .thd {
        color: #fff;
        > a:link,
        > a:visited {
          color: #fff;
        }
      }
    }
    th,
    .thd,
    td,
    .td {
      padding: tables.$table-row-padding;
      font-size: tables.$table-row-font-size;
      color: tables.$table-row-font-color;
      &.column, &.columns {
        float: none;
      }
      button,
      .button,
      & > :last-child {
        margin-bottom: 0;
      }
      button,
      .button {
        i.fa {
          font-size: 1.6em;
          margin-left: .25em;
          margin-right: .25em;
        }
      }
      ul {
        font-size: tables.$table-row-font-size;
      }
      &.no-pad {
        padding-left: 0;
        padding-right: 0;
      }
      &.highlight {
        background-color: shared.$revs-red;
        color: #fff;
      }
    }

    &.even,
    &.alt,
    &:nth-of-type(even) { background: tables.$table-even-row-bg; }
  }

  thead tr th,
  .thead .tr .thd,
  tfoot tr th,
  .tfoot .tr .thd,
  tbody tr td,
  .tbody .tr .td,
  tr td,
  .tr .td,
  tfoot tr td,
  .tfoot .tr .td { display: tables.$table-display; line-height: tables.$table-line-height; }
  th,
  .thd {
    text-align: center;
    font-weight: bold; }
  td,
  .td,
  th,
  .thd {
    padding: 2px;
    &.numeric {
      text-align: right; }
  }

  &.hoverable {
    tr:hover {
      background-color: grid.$primary-color;
    }
  }
}