@use "sass:color";
@use "foundation/components/grid";
@use "foundation/functions";
@use "shared";

.events {
  padding: functions.rem-calc(5 0);
  h3 {
    margin: functions.rem-calc(0 5);
    @media #{grid.$medium-up} {
      margin: functions.rem-calc(0 10);
    }
  }
  ul.events {
    list-style: none;
    margin: {
      left: 0;
      right: 0;
    }
    padding: 0;
    li {
      font-weight: bold;
      padding: functions.rem-calc(5);
      line-height: functions.rem-calc(18);
      @media #{grid.$medium-up} {
        padding: functions.rem-calc(5 10);
        line-height: functions.rem-calc(25);
      }
      &:nth-child(2n-1) {
        background-color: rgba(255,255,255,.75);
      }
      time {
        @extend small !optional;
        display: inline-block;
      }
      &.past {
        font-size: .85em;
        opacity: .9;
        font-weight: 300;
        a:link, a:visited {
          color: color.adjust(shared.$navy,$saturation: -35%);
        }
        + li:not(.past) {
          border-top: 1px dashed color.adjust(shared.$maroon,$alpha: -.75);
        }
      }
    }
  }
}