.events {
  ul.events {
    list-style: none;
    margin: {
      left: 0;
      right: 0;
    }
    padding: 0;
    li {
      padding: rem-calc(5 10);
      line-height: rem-calc(25);
      font-weight: bold;
      &:nth-child(2n-1) {
        background-color: rgba(255,255,255,.75);
      }
      time {
        @extend small;
        display: inline-block;
      }
      &.past {
        font-size: .85em;
        opacity: .9;
        font-weight: 300;
        a:link, a:visited {
          color: desaturate($navy,35%);
        }
        + li:not(.past) {
          border-top: 1px dashed transparentize($maroon,.75);
        }
      }
    }
  }
}