%footer.page-footer
  = yield(:footer)
  Copyright ©1995 – #{Time.current.year}, Midnight Riders. MLS and club logos are copyright their respective owners.
  = link_to 'Webmaster', 'mailto:webczar+membersite@midnightriders.com'